.left{
	float: left;
}
.right{
	float: right;
}
.fix{
	clear: both;
}
.page{
	background-color: lightgray;
}
.main{
	width: 960px;
	margin: 0px auto;
	background-color: white;
}
.logo{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 200px;
}
.menu1{
	width:760px; 
}
.menu1 ul{
	list-style-type: none;
	padding: 0px;
	padding-top: 0px;	
}

.menu1 ul li a{
	text-decoration: none;
	display: block;
	font-size: 20px;
	color: gray;
}
.menu1 ul li{
	float: left;
	width:108px;
	text-align: center;
	line-height: 92px;
}
.menu1 ul li a:hover{
	border-top:2px solid orange;
	color:red;
}
.active{
	border-top:2px solid orange;
	color: red;
	font-weight: bold;
}
.contain1{
	padding-left: 30px;
	padding-right: 30px;
}
.contain h1{
	border-bottom :2px solid red;
	width: 270px;
}
.text1{
	font-size: 25px;
}
.text2{
	font-size: 20px;
}	
.f1{
	padding-left: 40px
}
.f2{
	padding-right: 40px;	
}
.img2{
	position: absolute;
}
.b1{
	position: relative;
	padding-left: 40px;
	font-size: 35px;
	color: white;
	line-height: 60px;
}
.b2{
	line-height: 60px;
	font-size: 25px;
	position: relative;
	padding-right: 30px;
	color: white;
}
.footer1{
	background-color: #171515cc;
	height: 70px;
	color: gray;
	line-height:70px;
	font-size: 12px;
}
.con1{
	width: 420px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.con2{
	width: 420px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 40px; 	
}
.c1{
	padding-left: 20px;
	padding-right: 20px;
	width: 425px;
}
.c2{
	width: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.c3{
	padding-left: 40px;
	width: 425px;
	padding-top: 220px;
}
.con4{
	font-size: 25px;
	border-bottom: 1px solid red;
	width: 150px;
}
input[type="text"]{
	border-left: 5px solid gray;
	width: 400px;
	height: 25px;
}
input[type="email"]{
	border-left: 5px solid gray;
	width: 400px;
	height: 25px;
}
textarea{
	height: 80px;
	width: 400px;
	border-left: 5px solid gray;
}
input[type="text"]:hover{
	border-left: 5px solid red;
}
input[type="email"]:hover{
	border-left: 5px solid red;
}
textarea:hover{
	border-left: 5px solid red;
}
.btn1{
	background-color: orange;
	color: white;
	height: 35px;
	width: 130px;
	border-left: 3px solid red;
}
